# --- Bibliothèques ML & Finance ---
pandas
numpy
scikit-learn
lightgbm==3.3.5  # version pip pure python, compatible sans libgomp
arch
joblib

# --- Analyse technique (alternative TA-Lib pure Python) ---
ta

# --- Utilitaires et connectivité ---
python-dotenv
requests
websockets
ntplib
psutil
ccxt
