# --- Bibliothèques ML & Finance ---
pandas
numpy
ccxt
lightgbm
scikit-learn
arch
joblib

# --- Utilitaires et connectivité ---
python-dotenv
requests
websockets
ntplib
psutil

# --- TA-Lib pour Linux (Railway) ---
TA-Lib
